body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-size: 17px;
}

.container {
  display: flex;
  width: 80%; 
  max-width: 1000px;
  overflow: hidden;
  height: 45%;
  border-radius: 18px;
  margin-bottom: 20px; /* Add some margin to space it from the note text */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.left, .right {
  flex: 1;
  padding: 20px;
}

.left {
  background-color: #8ab8de;
  color: white;
  text-align: left;
}

.right {
  background-color: #fff;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.activities, .time-value {
  margin-bottom: 20px;
}

.activities .highlight {
  color: red;
}

.time-value .highlight {
  color: green;
}

.slider {
  margin-top: 10px;
  margin-bottom: 45px;
  overflow: hidden;

}

input[type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1; /* Fully opaque */
}

/* Style the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: white; /* Changed to white */
  border: 1px solid #888; /* Added border */      
  border-radius: 50%; /* Circle shape */
  cursor: pointer; /* Cursor on hover */
}




.savings p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}



.divider {
  width: 1px; /* Vertical line */
  height: 45px; /* Adjust height as needed */
  background-color: #1d1919; /* Line color */
margin-left: 200px;
position: absolute;

}

.saved-text {
  font-size: 18px;
  font-weight: bold;
}
.note {
  font-size: 17px;
}

.note-text {
  font-size: 13px;
  color: black;
  text-align: center; /* Center the text */
  margin-top: 20px; /* Add some margin to space it from the container */
  font-weight: bold;
}

.savings {
  background-color: #f0f0f0; /* Greyish background */
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin-left: 35px;
  margin-top: -20px; /* Adjusted margin-top */
  height: 23px; /* Fixed height for the container */
}

.hours_saved {
  background-color: #f0f0f0; /* Greyish background */
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin-left: 35px;
  margin-top: 60px; /* Adjusted margin-top */
  height: 23px; /* Fixed height for the container */
}


.hours_saved p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}



.hours_divider {
  width: 1px; /* Vertical line */
  height: 45px; /* Adjust height as needed */
  background-color: #1d1919; /* Line color */
margin-left: 200px;
position: absolute;

}

.hours_text {
  font-size: 15px;
  font-weight: bold;
  margin-left: 209px;
  position: absolute;
}
